<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="header">
<div class="fly-header layui-bg-black" >
  <div class="layui-container">
    <a class="fly-logo" href="javascript:;">
      <img src="//res.layui.com/images/fly/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs" style="text-align: center">
      <li class="layui-nav-item layui-this">
        <span style="font-size: 2em">
          教学互动平台
        </span>
      </li>
    </ul>
    <ul class="layui-nav fly-nav-user">
      <li class="layui-nav-item" th:if="${(#session.getAttribute('student') != null) or (#session.getAttribute('teacher') != null)}">
        <a class="fly-nav-avatar" th:if="${#session.getAttribute('student') != null}" href="/student/main">
          <cite class="layui-hide-xs" >[[{{session.student.userName}}]]</cite>
        </a>
        <a class="fly-nav-avatar" th:if="${#session.getAttribute('teacher') != null}" href="/teacher/main">
          <cite class="layui-hide-xs" >[[{{session.teacher.userName}}]]</cite>
        </a>

      </li>
      <li class="layui-nav-item" th:unless="${(#session.getAttribute('student') != null) or (#session.getAttribute('teacher') != null)}">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs" ><a href="/login">登录</a></cite>
        </a>
        <!--<dl class="layui-nav-child">-->
        <!--<dd><a href="/user/set/"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>-->
        <!--<dd><a href="/user/message/"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>-->
        <!--<dd><a href="/u/{{ 168*user.id }}"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>-->
        <!--<hr style="margin: 5px 0;">-->
        <!--<dd><a href="/user/logout/" style="text-align: center;">退出</a></dd>-->
        <!--</dl>-->
      </li>
    </ul>
  </div>
</div>
</body>
</html>