<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生主页</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/global.css">
</head>
<body>
<div th:include="/common/header::header"></div>
<div class="layui-container fly-marginTop fly-user-main">
    <ul th:include="/common/student_menu::menu"
        class="layui-nav layui-nav-tree layui-inline" lay-filter="test"></ul>
    <div class="fly-panel fly-panel-user" pad20>

    </div>
</div>
</body>
</html>